body{
    background-color: black;
}

.box1{
    display: flex;
    padding: 50px;
    /* width: 100%; causing overflow for some reason*/ 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border: 1px solid red;
    color: white;
}

.box1 a{
    color: white;
}

.hide{
    display: none;
}

h2{
    color: white;
}

