body{
    background-color: black;
}

.box1{
    display: flex;
    padding: 25px;
    /* width: 100%; causing overflow for some reason  */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 1px solid red;
    color: red;
    font-family:Arial, Helvetica, sans-serif;
}

.box1 a{
    color: red;
}

.hide{
    display: none;
}

h2{
    color: red;
}

#quiz{
    max-width: 50%;
    height: 50px;
    margin: 0 auto;
}

